<a href="https://colab.research.google.com/github/Benjamindavid03/youtube/blob/main/Pandas_and_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# for demonstrating OOP
class Point:
    x=0;
    y=0;
    def __init__(self,x,y):
        self.x=x;
        self.y=y;
        
    def show(self):
        print(self.x,",",self.y)
        
v = Point(3,4) #constructor
v.show()

3 , 4

In [4]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [9]:
# list of courses
lst = ['Computer Science', 'Commerce PA', 'English', 'Mathematics', 'Microbiology', 'Biochemistry']
print(type(lst))
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(type(df))
print(df[0][0])
print(df)

<class 'list'>
<class 'pandas.core.frame.DataFrame'>
Computer Science
                  0
0  Computer Science
1       Commerce PA
2           English
3       Mathematics
4      Microbiology
5      Biochemistry

In [12]:
# intialise data of lists for dataframe
data = {'Course':['Computer Science', 'Commerce PA', 'English', 'Mathematics', 'Microbiology', 'Biochemistry'],
        'Strength':[210, 221, 134, 185, 123, 124],
        'Block':['B','A','A','B','A','A']}
type(data)
data

{'Course': ['Computer Science',
  'Commerce PA',
  'English',
  'Mathematics',
  'Microbiology',
  'Biochemistry'],
 'Strength': [210, 221, 134, 185, 123, 124],
 'Block': ['B', 'A', 'A', 'B', 'A', 'A']}

In [13]:
# Create DataFrame
df = pd.DataFrame(data)
# Print the output.
print(df)

             Course  Strength Block
0  Computer Science       210     B
1       Commerce PA       221     A
2           English       134     A
3       Mathematics       185     B
4      Microbiology       123     A
5      Biochemistry       124     A

In [14]:
df

             Course  Strength Block
0  Computer Science       210     B
1       Commerce PA       221     A
2           English       134     A
3       Mathematics       185     B
4      Microbiology       123     A
5      Biochemistry       124     A

In [ ]:
# select two columns
df[['Course','Strength']]

             Course  Strength
0  Computer Science       210
1       Commerce PA       221
2           English       134
3       Mathematics       185
4      Microbiology       123
5      Biochemistry       124

In [15]:
print(df)
df.iloc[2] # get the third element with index 2

             Course  Strength Block
0  Computer Science       210     B
1       Commerce PA       221     A
2           English       134     A
3       Mathematics       185     B
4      Microbiology       123     A
5      Biochemistry       124     A

Course      English
Strength        134
Block             A
Name: 2, dtype: object

In [ ]:
# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 Course      Computer Science
Strength                 210
Block                      B
Name: 0, dtype: object

1 Course      Commerce PA
Strength            221
Block                 A
Name: 1, dtype: object

2 Course      English
Strength        134
Block             A
Name: 2, dtype: object

3 Course      Mathematics
Strength            185
Block                 B
Name: 3, dtype: object

4 Course      Microbiology
Strength             123
Block                  A
Name: 4, dtype: object

5 Course      Biochemistry
Strength             124
Block                  A
Name: 5, dtype: object

In [17]:
nRowsRead = 1000 # specify 'None' if want to read whole file
#read from an csv file
df1 = pd.read_csv('https://raw.githubusercontent.com/Benjamindavid03/MachineLearning/main/netflix_titles.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'Netflix.csv' #set a name for the data frame
nRow, nCol = df1.shape  # get the rows and column of the dataframe
print(f'There are {nRow} rows and {nCol} columns')

There are 1000 rows and 12 columns

In [18]:
df1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
995,s996,Movie,Vizontele,"Yılmaz Erdoğan, Ömer Faruk Sorak","Yılmaz Erdoğan, Demet Akbağ, Altan Erkekli, Ce...",Turkey,"April 23, 2021",2001,TV-MA,106 min,"Comedies, Dramas, International Movies","In 1974, a rural town in Anatolia gets its fir..."
996,s997,Movie,HOMUNCULUS,Takashi Shimizu,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...",Japan,"April 22, 2021",2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers",Truth and illusion blurs when a homeless amnes...
997,s998,TV Show,Life in Color with David Attenborough,NaN,David Attenborough,"Australia, United Kingdom","April 22, 2021",2021,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...","Using innovative technology, this docuseries e..."
998,s999,Movie,Searching For Sheela,NaN,Ma Anand Sheela,India,"April 22, 2021",2021,TV-14,58 min,"Documentaries, International Movies",Journalists and fans await Ma Anand Sheela as ...
999,s1000,Movie,Stowaway,Joe Penna,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Germany, United States","April 22, 2021",2021,TV-MA,116 min,"Dramas, International Movies, Thrillers",A three-person crew on a mission to Mars faces...

In [21]:
df1.head(3) # displays the top 5 instnaces of the dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [22]:
df1.head(12) #display the top 12 instances (rows)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."

In [ ]:
df1.tail() # display the bottom 5 instances from the dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
995,s996,Movie,Vizontele,"Yılmaz Erdoğan, Ömer Faruk Sorak","Yılmaz Erdoğan, Demet Akbağ, Altan Erkekli, Ce...",Turkey,"April 23, 2021",2001,TV-MA,106 min,"Comedies, Dramas, International Movies","In 1974, a rural town in Anatolia gets its fir..."
996,s997,Movie,HOMUNCULUS,Takashi Shimizu,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...",Japan,"April 22, 2021",2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers",Truth and illusion blurs when a homeless amnes...
997,s998,TV Show,Life in Color with David Attenborough,NaN,David Attenborough,"Australia, United Kingdom","April 22, 2021",2021,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...","Using innovative technology, this docuseries e..."
998,s999,Movie,Searching For Sheela,NaN,Ma Anand Sheela,India,"April 22, 2021",2021,TV-14,58 min,"Documentaries, International Movies",Journalists and fans await Ma Anand Sheela as ...
999,s1000,Movie,Stowaway,Joe Penna,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Germany, United States","April 22, 2021",2021,TV-MA,116 min,"Dramas, International Movies, Thrillers",A three-person crew on a mission to Mars faces...

In [ ]:
df1.tail(10) # displays the bottom most 10 rows of the dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
990,s991,Movie,Niyazi Gül Dörtnala,Hakan Algül,"Ata Demirer, Demet Akbağ, Şebnem Bozoklu, Leve...",Turkey,"April 23, 2021",2015,TV-MA,102 min,"Comedies, International Movies",Seeking the formula behind a magical elixir be...
991,s992,Movie,One Like It,Marwan Nabil,"Riham Abdel Ghafour, Mohammed Aly Rizk, Hazem ...",Egypt,"April 23, 2021",2020,TV-G,15 min,"Dramas, Independent Movies, International Movies",This short film follows a day in the life of a...
992,s993,Movie,Perfume Imaginary Museum “Time Warp”,"MIKIKO, Daito Manabe",Perfume,NaN,"April 23, 2021",2020,TV-G,54 min,"International Movies, Music & Musicals",This visually stunning special performance was...
993,s994,TV Show,Shadow and Bone,NaN,"Jessie Mei Li, Archie Renaux, Ben Barnes, Fred...",United States,"April 23, 2021",2021,TV-14,1 Season,"TV Action & Adventure, TV Dramas, TV Sci-Fi & ...",Dark forces conspire against orphan mapmaker A...
994,s995,Movie,This Lady Called Life,Kayode Kasum,"Bisola Aiyeola, Efa Iwara, Molawa Onajobi, Tin...",Nigeria,"April 23, 2021",2020,TV-14,120 min,"Dramas, International Movies, Romantic Movies","Abandoned by her family, young single mother A..."
995,s996,Movie,Vizontele,"Yılmaz Erdoğan, Ömer Faruk Sorak","Yılmaz Erdoğan, Demet Akbağ, Altan Erkekli, Ce...",Turkey,"April 23, 2021",2001,TV-MA,106 min,"Comedies, Dramas, International Movies","In 1974, a rural town in Anatolia gets its fir..."
996,s997,Movie,HOMUNCULUS,Takashi Shimizu,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...",Japan,"April 22, 2021",2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers",Truth and illusion blurs when a homeless amnes...
997,s998,TV Show,Life in Color with David Attenborough,NaN,David Attenborough,"Australia, United Kingdom","April 22, 2021",2021,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...","Using innovative technology, this docuseries e..."
998,s999,Movie,Searching For Sheela,NaN,Ma Anand Sheela,India,"April 22, 2021",2021,TV-14,58 min,"Documentaries, International Movies",Journalists and fans await Ma Anand Sheela as ...
999,s1000,Movie,Stowaway,Joe Penna,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Germany, United States","April 22, 2021",2021,TV-MA,116 min,"Dramas, International Movies, Thrillers",A three-person crew on a mission to Mars faces...

In [ ]:
df1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,"September 22, 2021",2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
17,s18,TV Show,Falsa identidad,NaN,"Luis Ernesto Franco, Camila Sodi, Sergio Goyri...",Mexico,"September 22, 2021",2020,TV-MA,2 Seasons,"Crime TV Shows, Spanish-Language TV Shows, TV ...",Strangers Diego and Isabel flee their home in ...
18,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",NaN,"September 22, 2021",2021,TV-14,94 min,Thrillers,After a deadly home invasion at a couple’s new...
19,s20,TV Show,Jaguar,NaN,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",NaN,"September 22, 2021",2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro..."
20,s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton,NaN,NaN,"September 22, 2021",2021,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","In the late 1970s, an accused serial rapist cl..."
21,s22,TV Show,Resurrection: Ertugrul,NaN,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,"September 22, 2021",2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",NaN,"September 21, 2021",1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...
23,s24,Movie,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore","Maisie Benson, Paul Killam, Kerry Gudjohnsen, ...",NaN,"September 21, 2021",2021,TV-Y,61 min,Children & Family Movies,From arcade games to sled days and hiccup cure...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
25,s26,TV Show,Love on the Spectrum,NaN,Brooke Satchwell,Australia,"September 21, 2021",2021,TV-14,2 Seasons,"Docuseries, International TV Shows, Reality TV",Finding love can be hard for anyone. For young...
26,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",NaN,"September 21, 2021",1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,"September 20, 2021",2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...
28,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,"September 19, 2021",2013,PG-13,97 min,"Horror Movies, Sci-Fi & Fantasy",A family’s idyllic suburban life shatters when...
29,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France","September 19, 2021",2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
970,s971,Movie,Battle: Los Angeles,Jonathan Liebesman,"Aaron Eckhart, Michelle Rodriguez, Ramon Rodri...",United States,"April 27, 2021",2011,PG-13,116 min,"Action & Adventure, Sci-Fi & Fantasy","Led by their skillful staff sergeant, a platoo..."
971,s972,Movie,Between Worlds,Maria Pulera,"Nicolas Cage, Franka Potente, Penelope Mitchel...",Spain,"April 27, 2021",2018,R,91 min,Thrillers,"Grieving for his dead wife and daughter, a tru..."
972,s973,TV Show,Fatma,NaN,"Burcu Biricik, Uğur Yücel, Mehmet Yılmaz Ak, H...",Turkey,"April 27, 2021",2021,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Thrillers","Reeling from tragedy, a nondescript house clea..."
973,s974,Movie,One,Santhosh Viswanath,"Mammootty, Joju George, Murali Gopy, Mathew Th...",India,"April 27, 2021",2020,TV-PG,149 min,"Dramas, International Movies",A formidable Kerala chief minister’s party loy...
974,s975,Movie,Ram Prasad Ki Tehrvi,Seema Pahwa,"Supriya Pathak, Parambrata Chatterjee, Konkona...",India,"April 24, 2021",2019,TV-14,113 min,"Dramas, Independent Movies, International Movies","Conflicts, complications and confrontations ma..."
975,s976,Movie,Shadow and Bone - The Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster, ...",United States,"April 24, 2021",2021,TV-14,33 min,"Action & Adventure, Comedies, Dramas","Stars of Netflix's ""Shadow and Bone"" discuss t..."
976,s977,Movie,Among Family,Ozan Açıktan,"Engin Günaydın, Demet Evgar, Erdal Özyağcılar,...",Turkey,"April 23, 2021",2017,TV-14,127 min,"Comedies, International Movies","Amid a marital crisis, Fikret befriends songst..."
977,s978,Movie,Dedemin Fisi,Meltem Bozoflu,"Onur Buldu, Alper Kul, Erdem Yener, Onur Atill...",Turkey,"April 23, 2021",2016,TV-14,101 min,"Comedies, International Movies",When a brain-dead family patriarch is about to...
978,s979,Movie,Deliha,Hakan Algül,"Gupse Özay, Barış Arduç, Cihan Ercan",Turkey,"April 23, 2021",2014,TV-MA,102 min,"Comedies, International Movies, Romantic Movies","Short on sense but long on self-confidence, do..."
979,s980,Movie,Düğün Dernek,"Selçuk Aydemir, Birkan Pusa","Ahmet Kural, Murat Cemcir, Rasim Öztekin, Devr...",Turkey,"April 23, 2021",2013,TV-MA,102 min,"Comedies, International Movies","On the first day of Ramadan, Ismail joins frie..."
980,s981,Movie,Dügün Dernek 2: Sünnet,Selçuk Aydemir,"Ahmet Kural, Murat Cemcir, Rasim Öztekin, Devr...",Turkey,"April 23, 2021",2015,TV-MA,107 min,"Comedies, International Movies",Ismail and his old screwball crew land themsel...
981,s982,Movie,G.O.R.A,Ömer Faruk Sorak,"Cem Yılmaz, Rasim Öztekin, Özkan Uğur, İdil Fı...",Turkey,"April 23, 2021",2004,TV-MA,123 min,"Action & Adventure, Comedies, International Mo...",Carpet dealer and UFO photo forger Arif is abd...
982,s983,Movie,Hayat Öpücügü,Şenol Sönmez,"Ali Sunal, Hatice Şendil, Ayda Aksel, Ahmet Sa...",Turkey,"April 23, 2021",2015,TV-14,98 min,"Comedies, Dramas, International Movies",High-strung Metin finally stops seeing doom an...
983,s984,Movie,Heroes: Silence and Rock & Roll,Alexis Morante,"Enrique Bunbury, Juan Valdivia, Joaquín Cardie...",Spain,"April 23, 2021",2021,TV-MA,95 min,"Documentaries, International Movies, Music & M...",An exploration of the rise of Héroes del Silen...
984,s985,Movie,Kara Bela,Burak Aksak,"Cengiz Bozkurt, Seda Bakan, Erkan Kolçak Köste...",Turkey,"April 23, 2021",2015,TV-MA,101 min,"Comedies, International Movies",The uneventful life of middle-aged Kudret turn...
985,s986,Movie,Kocan Kadar Konus,Kıvanç Baruönü,"Ezgi Mola, Murat Yıldırım, Gülenay Kalkan, Ebr...",Turkey,"April 23, 2021",2015,TV-MA,104 min,"Comedies, International Movies, Romantic Movies",A 30-year-old who's never taken the traditiona...
986,s987,Movie,Kocan Kadar Konus 2: Dirilis,Kıvanç Baruönü,"Ezgi Mola, Murat Yıldırım, Gülenay Kalkan, Nev...",Turkey,"April 23, 2021",2016,TV-14,104 min,"Comedies, International Movies, Romantic Movies","Efsun has found Mr. Right in Sinan, and their ..."
987,s988,Movie,Legal Hash,Rindala Kodeih,"Tony Issa, Rita Harb, Fadee Andrawos, Majed Ge...",NaN,"April 23, 2021",2019,TV-MA,103 min,"Comedies, International Movies",After a failed heist leads to a stint behind b...
988,s989,TV Show,Let's Fight Ghost,Kongkiat Khomsiri,"Suppapong Udomkaewkanjana, Patchanan Jiajirach...",Thailand,"April 23, 2021",2021,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",A med student with a supernatural gift tries t...
989,s990,Movie,My Travel Buddy,Bedran Güzel,"Oğuzhan Koç, İbrahim Büyükak, Emre Kınay, Aslı...",Turkey,"April 23, 2021",2017,TV-MA,111 min,"Comedies, International Movies","Days before Eid, a salesman fired from his job..."
990,s991,Movie,Niyazi Gül Dörtnala,Hakan Algül,"Ata Demirer, Demet Akbağ, Şebnem Bozoklu, Leve...",Turkey,"April 23, 2021",2015,TV-MA,102 min,"Comedies, International Movies",Seeking the formula behind a magical elixir be...
991,s992,Movie,One Like It,Marwan Nabil,"Riham Abdel Ghafour, Mohammed Aly Rizk, Hazem ...",Egypt,"April 23, 2021",2020,TV-G,15 min,"Dramas, Independent Movies, International Movies",This short film follows a day in the life of a...
992,s993,Movie,Perfume Imaginary Museum “Time Warp”,"MIKIKO, Daito Manabe",Perfume,NaN,"April 23, 2021",2020,TV-G,54 min,"International Movies, Music & Musicals",This visually stunning special performance was...
993,s994,TV Show,Shadow and Bone,NaN,"Jessie Mei Li, Archie Renaux, Ben Barnes, Fred...",United States,"April 23, 2021",2021,TV-14,1 Season,"TV Action & Adventure, TV Dramas, TV Sci-Fi & ...",Dark forces conspire against orphan mapmaker A...
994,s995,Movie,This Lady Called Life,Kayode Kasum,"Bisola Aiyeola, Efa Iwara, Molawa Onajobi, Tin...",Nigeria,"April 23, 2021",2020,TV-14,120 min,"Dramas, International Movies, Romantic Movies","Abandoned by her family, young single mother A..."
995,s996,Movie,Vizontele,"Yılmaz Erdoğan, Ömer Faruk Sorak","Yılmaz Erdoğan, Demet Akbağ, Altan Erkekli, Ce...",Turkey,"April 23, 2021",2001,TV-MA,106 min,"Comedies, Dramas, International Movies","In 1974, a rural town in Anatolia gets its fir..."
996,s997,Movie,HOMUNCULUS,Takashi Shimizu,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...",Japan,"April 22, 2021",2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers",Truth and illusion blurs when a homeless amnes...
997,s998,TV Show,Life in Color with David Attenborough,NaN,David Attenborough,"Australia, United Kingdom","April 22, 2021",2021,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...","Using innovative technology, this docuseries e..."
998,s999,Movie,Searching For Sheela,NaN,Ma Anand Sheela,India,"April 22, 2021",2021,TV-14,58 min,"Documentaries, International Movies",Journalists and fans await Ma Anand Sheela as ...
999,s1000,Movie,Stowaway,Joe Penna,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Germany, United States","April 22, 2021",2021,TV-MA,116 min,"Dramas, International Movies, Thrillers",A three-person crew on a mission to Mars faces...

In [24]:
#preparing the data
df = df1.drop(['show_id','description'] ,axis=1) # features to remove
df

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...,...,...
995,Movie,Vizontele,"Yılmaz Erdoğan, Ömer Faruk Sorak","Yılmaz Erdoğan, Demet Akbağ, Altan Erkekli, Ce...",Turkey,"April 23, 2021",2001,TV-MA,106 min,"Comedies, Dramas, International Movies"
996,Movie,HOMUNCULUS,Takashi Shimizu,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...",Japan,"April 22, 2021",2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers"
997,TV Show,Life in Color with David Attenborough,NaN,David Attenborough,"Australia, United Kingdom","April 22, 2021",2021,TV-PG,1 Season,"British TV Shows, Docuseries, International TV..."
998,Movie,Searching For Sheela,NaN,Ma Anand Sheela,India,"April 22, 2021",2021,TV-14,58 min,"Documentaries, International Movies"
999,Movie,Stowaway,Joe Penna,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Germany, United States","April 22, 2021",2021,TV-MA,116 min,"Dramas, International Movies, Thrillers"

In [26]:
df.isnull()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,False,False,False,True,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False
3,False,False,True,True,True,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False
997,False,False,True,False,False,False,False,False,False,False
998,False,False,True,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isna()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,False,False,False,True,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False
3,False,False,True,True,True,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False
5,False,False,False,False,True,False,False,False,False,False
6,False,False,False,False,True,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,True,True,True,False,False,False,False,False
11,False,False,False,False,True,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,True,False,False,False,False,False
14,False,False,True,True,True,False,False,False,False,False
15,False,False,True,False,False,False,False,False,False,False
16,False,False,False,True,True,False,False,False,False,False
17,False,False,True,False,False,False,False,False,False,False
18,False,False,False,False,True,False,False,False,False,False
19,False,False,True,False,True,False,False,False,False,False
20,False,False,False,True,True,False,False,False,False,False
21,False,False,True,False,False,False,False,False,False,False
22,False,False,False,False,True,False,False,False,False,False
23,False,False,False,False,True,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,True,False,False,False,False,False,False,False
26,False,False,False,False,True,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
970,False,False,False,False,False,False,False,False,False,False
971,False,False,False,False,False,False,False,False,False,False
972,False,False,True,False,False,False,False,False,False,False
973,False,False,False,False,False,False,False,False,False,False
974,False,False,False,False,False,False,False,False,False,False
975,False,False,True,False,False,False,False,False,False,False
976,False,False,False,False,False,False,False,False,False,False
977,False,False,False,False,False,False,False,False,False,False
978,False,False,False,False,False,False,False,False,False,False
979,False,False,False,False,False,False,False,False,False,False
980,False,False,False,False,False,False,False,False,False,False
981,False,False,False,False,False,False,False,False,False,False
982,False,False,False,False,False,False,False,False,False,False
983,False,False,False,False,False,False,False,False,False,False
984,False,False,False,False,False,False,False,False,False,False
985,False,False,False,False,False,False,False,False,False,False
986,False,False,False,False,False,False,False,False,False,False
987,False,False,False,False,True,False,False,False,False,False
988,False,False,False,False,False,False,False,False,False,False
989,False,False,False,False,False,False,False,False,False,False
990,False,False,False,False,False,False,False,False,False,False
991,False,False,False,False,False,False,False,False,False,False
992,False,False,False,False,True,False,False,False,False,False
993,False,False,True,False,False,False,False,False,False,False
994,False,False,False,False,False,False,False,False,False,False
995,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False
997,False,False,True,False,False,False,False,False,False,False
998,False,False,True,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False

In [28]:
df.fillna("-N/A-")

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,-N/A-,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,TV Show,Blood & Water,-N/A-,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",-N/A-,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,TV Show,Jailbirds New Orleans,-N/A-,-N/A-,-N/A-,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,TV Show,Kota Factory,-N/A-,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...,...,...
995,Movie,Vizontele,"Yılmaz Erdoğan, Ömer Faruk Sorak","Yılmaz Erdoğan, Demet Akbağ, Altan Erkekli, Ce...",Turkey,"April 23, 2021",2001,TV-MA,106 min,"Comedies, Dramas, International Movies"
996,Movie,HOMUNCULUS,Takashi Shimizu,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...",Japan,"April 22, 2021",2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers"
997,TV Show,Life in Color with David Attenborough,-N/A-,David Attenborough,"Australia, United Kingdom","April 22, 2021",2021,TV-PG,1 Season,"British TV Shows, Docuseries, International TV..."
998,Movie,Searching For Sheela,-N/A-,Ma Anand Sheela,India,"April 22, 2021",2021,TV-14,58 min,"Documentaries, International Movies"
999,Movie,Stowaway,Joe Penna,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Germany, United States","April 22, 2021",2021,TV-MA,116 min,"Dramas, International Movies, Thrillers"

In [29]:
df.describe()

       release_year
count   1000.000000
mean    2014.796000
std        9.417488
min     1959.000000
25%     2012.000000
50%     2019.000000
75%     2021.000000
max     2021.000000

In [ ]:
X = df.values
X # coverted into ndarray

array([['Movie', 'Dick Johnson Is Dead', 'Kirsten Johnson', ..., 'PG-13',
        '90 min', 'Documentaries'],
       ['TV Show', 'Blood & Water', nan, ..., 'TV-MA', '2 Seasons',
        'International TV Shows, TV Dramas, TV Mysteries'],
       ['TV Show', 'Ganglands', 'Julien Leclercq', ..., 'TV-MA',
        '1 Season',
        'Crime TV Shows, International TV Shows, TV Action & Adventure'],
       ...,
       ['TV Show', 'Life in Color with David Attenborough', nan, ...,
        'TV-PG', '1 Season',
        'British TV Shows, Docuseries, International TV Shows'],
       ['Movie', 'Searching For Sheela', nan, ..., 'TV-14', '58 min',
        'Documentaries, International Movies'],
       ['Movie', 'Stowaway', 'Joe Penna', ..., 'TV-MA', '116 min',
        'Dramas, International Movies, Thrillers']], dtype=object)

In [ ]:
type(X)

numpy.ndarray

In [30]:
df.filter(items=['title', 'country'])

                                     title                    country
0                     Dick Johnson Is Dead              United States
1                            Blood & Water               South Africa
2                                Ganglands                        NaN
3                    Jailbirds New Orleans                        NaN
4                             Kota Factory                      India
..                                     ...                        ...
995                              Vizontele                     Turkey
996                             HOMUNCULUS                      Japan
997  Life in Color with David Attenborough  Australia, United Kingdom
998                   Searching For Sheela                      India
999                               Stowaway     Germany, United States

[1000 rows x 2 columns]

In [ ]:
df['release_year'].mean()

2014.796